<div class="sidebar">
  <div class="logo">
    <img src="/assets/images/smuklogo.svg" alt="" />
  </div>
  <div class="divider"></div>
  <div class="tabs">
    <!-- pocetna -->
    <div class="tab">
      <mat-icon class="icon">home</mat-icon>
      <span>Početna</span>
    </div>
    <div [matMenuTriggerFor]="dokumenta" class="tab">
      <mat-icon class="icon">receipt_long</mat-icon>
      <span mat-button>Dokumenta</span>
      <mat-menu #dokumenta="matMenu">
        <button [routerLink]="['/dokumenta/racun']" mat-menu-item>
          Racun
        </button>
        <button mat-menu-item>
          Otpremnica
        </button>
        <button [routerLink]="['/dokumenta/ponuda']" mat-menu-item>
          Ponuda
        </button>
      </mat-menu>
    </div>
    <!-- knjiga tocenja --> 
    <div class="tab" [routerLink]="['/dokumenta/knjiga-tocenja']">
      <mat-icon class="icon">auto_stories</mat-icon>
      <span>Knjiga tocenja</span>
    </div>
    <!-- porudzbine -->
    <div  mat-button [matMenuTriggerFor]="porudzbine" class="tab">
      <mat-icon class="icon">local_shipping</mat-icon>
      <span>Porudzbine</span>
      <mat-menu #porudzbine="matMenu">
        <button [routerLink]="['/porudzbine/mesta']" mat-menu-item>
          Mesta
        </button>
      </mat-menu>
    </div>
    <!-- preduzece -->
    <div mat-button [matMenuTriggerFor]="zaposleni" class="tab">
      <mat-icon class="icon">badge</mat-icon>
      <span>Preduzece</span>
      <mat-menu #zaposleni="matMenu">
        <button  [routerLink]="['/preduzece/zaposleni']" mat-menu-item>
          Zaposleni
        </button>
        <button  [routerLink]="['/preduzece/proizvodi']" mat-menu-item>
          Proizvodi
        </button>
      </mat-menu>
    </div>

    <!-- <button mat-button [matMenuTriggerFor]="animals">Animal index</button>
    <mat-menu #animals="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">
        Vertebrates
      </button>
      <button mat-menu-item>
        Invertebrates
      </button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item >Fishes</button>
      <button mat-menu-item >Amphibians</button>
      <button mat-menu-item >Reptiles</button>
      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </mat-menu> -->


  </div>
</div>
