<div class="container">
  <div class="content">
    <h1>Ponude</h1>
    <div class="buttons">
      <button [routerLink]="['/dokumenta/ponuda/nova-ponuda']" mat-raised-button>Nova Ponuda</button>
    </div>

    <form [formGroup]="form" (submit)="onSearch()">
      <mat-form-field appearance="outline">
        <mat-label>Pretraga po godini</mat-label>
        <input
          matInput
          name="pretraga"
          type="text"
          formControlName="pretraga"
        />
      </mat-form-field>

      <!-- button -->
      <button
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
        type="submit"
        class="button"
      >
        Pretrazi
      </button>
    </form>

    <app-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [actionsForTable]="actions"
    [tableWidth]="'1100px'"
    (emitOnClick)="onClickAction($event)"
  ></app-table>
  </div>
</div>
