<div class="container">
  <div class="content">
    <h1>Klijenti</h1>
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      [actionsForTable]="actions"
      [tableWidth]="'850px'"
      (emitOnClick)="onClickAction($event)"
    ></app-table>
  </div>
  <div class="form">
    <h1>{{ editMode ? "Azuriraj" : "Dodaj novog" }} klijenta</h1>
    <mat-card>
      <form [formGroup]="form" (submit)="onAddNew()" #formDirective="ngForm">
        <mat-form-field appearance="outline">
          <mat-label>Naziv</mat-label>
          <input matInput name="naziv" type="text" formControlName="naziv" />
        </mat-form-field>

        <mat-form-field class="w-30" appearance="outline">
          <mat-label>PIB</mat-label>
          <input matInput name="pib" type="text" formControlName="pib" />
        </mat-form-field>

        <mat-form-field class="w-70" appearance="outline">
          <mat-label>Maticni broj</mat-label>
          <input matInput name="mb" type="text" formControlName="mb" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefon</mat-label>
          <input
            matInput
            name="telefon"
            type="text"
            formControlName="telefon"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mesto</mat-label>
          <mat-select
            (selectionChange)="getUliceZaMesto($event.value)"
            formControlName="mesto"
            name="mesto"
          >
            <mat-option *ngFor="let mes of mesta" [value]="mes.mesto_id">
              {{ mes.postanski_broj + " - " + mes.naziv_mesta }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-70" appearance="outline">
          <mat-label>Ulica</mat-label>
          <mat-select
            [attr.disabled]="!this.form.get('mesto').value || !editMode"
            formControlName="ulica"
            name="ulica"
          >
            <mat-option *ngFor="let ul of ulice" [value]="ul.ulica_id">
              {{ ul.naziv_ulice }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-30" appearance="outline">
          <mat-label>Broj</mat-label>
          <input
            [readonly]="
              !this.form.get('mesto').value && !this.form.get('ulica').value
            "
            matInput
            name="broj"
            type="number"
            formControlName="broj"
          />
        </mat-form-field>

        <button
          [disabled]="form.invalid"
          mat-raised-button
          color="primary"
          type="submit"
          class="button"
        >
          {{ editMode ? "Azuriraj" : "Dodaj novog" }} klijenta
        </button>
      </form>
    </mat-card>
  </div>
</div>
