<div class="container">
  <div class="content">
    <h1>Ulice</h1>
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      [actionsForTable]="actions"
      [tableWidth]="'500px'"
      (emitOnClick)="onClickAction($event)"
    ></app-table>
  </div>
  <div class="form">
    <h1>{{ editMode ? "Azuriraj" : "Dodaj novu" }} ulicu</h1>

    <mat-card>
      <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
      <form [formGroup]="form" (submit)="onAddNew()" #formDirective="ngForm">
        <mat-form-field appearance="outline">
          <mat-label>Naziv ulice</mat-label>
          <input
            matInput
            name="naziv_ulice"
            type="text"
            formControlName="naziv_ulice"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mesto</mat-label>
          <mat-select formControlName="mesto" name="mesto">
            <mat-option *ngFor="let mes of mesta" [value]="mes.mesto_id">
              {{ mes.postanski_broj + ' (' + mes.naziv_mesta + ')' }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          style="opacity: 0.3"
          *ngIf="editMode"
          appearance="outline"
        >
          <mat-label>Naziv mesta</mat-label>
          <input
            matInput
            name="naziv_mesta"
            type="text"
            formControlName="naziv_mesta"
          />
        </mat-form-field>

        <button
          [disabled]="form.invalid"
          mat-raised-button
          color="primary"
          type="submit"
          class="button"
        >
          {{ editMode ? "Azuriraj" : "Dodaj novu" }} ulicu
        </button>
      </form>
    </mat-card>
  </div>
</div>
