<div class="container">
  <div class="content">
    <h1>Proizvodi</h1>
    <div class="buttons">
      <button [routerLink]="['/preduzece/proizvodi/novi']" mat-raised-button>
        Novi proizvod
      </button>
      <button [routerLink]="['/preduzece/jedinice-mere']" mat-raised-button>
        Jedinice mere
      </button>
    </div>
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      [actionsForTable]="actions"
      [tableWidth]="'950px'"
      (emitOnClick)="onClickAction($event)"
    ></app-table>
  </div>
</div>
