<div class="container">
  <div class="content">
    <h1>Knjiga tocenja</h1>
    <div class="buttons">
      <button (click)="onDetaljniPrikaz()" mat-raised-button>
        {{ !detaljniPrikaz ? "Detaljni" : "Osnovni" }} prikaz
      </button>
      <button
        [routerLink]="['/dokumenta/knjiga-tocenja/nova-knjiga-tocenja']"
        mat-raised-button
      >
        Dodaj novi rekord
      </button>
    </div>

    <app-table
      class="osnovni-prikaz"
      *ngIf="!detaljniPrikaz"
      [dataSource]="dataSourceOsnovno"
      [displayedColumns]="displayedColumnsOsnovno"
      [actionsForTable]="actions"
      [tableWidth]="'400px'"
      (emitOnClick)="onClickAction($event)"
    ></app-table>

    <!-- Detaljni prikaz -->

    <app-table
      *ngIf="detaljniPrikaz"
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      [actionsForTable]="actions"
      [tableWidth]="'950px'"
      (emitOnClick)="onClickAction($event)"
    ></app-table>
  </div>
</div>
