<div class="container">
    <div class="content">
      <h1>Otpremnice</h1>
  
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container
          [matColumnDef]="column"
          *ngFor="let column of objectKeys(displayedColumns)"
        >
          <th mat-header-cell *matHeaderCellDef>
            {{ displayedColumns[column] }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon>edit</mat-icon>
            <mat-icon>delete</mat-icon>
          </td>
        </ng-container>
  
        <tr
          mat-header-row
          *matHeaderRowDef="objectKeys(displayedColumnsFull)"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: objectKeys(displayedColumnsFull)"
        ></tr>
      </table>
    </div>
    <div class="form">
      <h1>Dodaj novu otpremnicu</h1>
      <mat-card>
        <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
        
        <form [formGroup]="form" (submit)="onAddNew()" #formDirective="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>Mesto izdavanja</mat-label>
            <input matInput name="mesto_izdavanja" type="text" formControlName="mesto_izdavanja" />
          </mat-form-field>
  
          <mat-form-field class="w-50" appearance="outline">
            <mat-label>Datum</mat-label>
            <input
              matInput
              name="datum"
              formControlName="datum"
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Tekuci racun</mat-label>
            <input matInput name="tekuci_racun" type="text" formControlName="tekuci_racun" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Knjiga tocenja</mat-label>
            <mat-select formControlName="oznaka" name="oznaka">
              <mat-option *ngFor="let kt of knjigeTocenja" [value]="kt.oznaka">
                {{ kt.oznaka + ' - ' + kt.izdanje }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <button
            [disabled]="form.invalid"
            mat-raised-button
            color="primary"
            type="submit"
            class="button"
          >
            Dodaj novu otpremnicu
          </button>
        </form>
      </mat-card>
    </div>
  </div>
  